body{
	font:"Raleway",sans-sarif;
	color:rgba(0,0,0,.5);
	background:white;
}
.first
.heading{
	top:20%;
}
.heading2{
	font-size:2.5rem;
	color:black;
}
.heading3{
	font-size:2.5rem;
	color:green;
	padding:0 0 0 3rem;
	
}
.space{
	border:1.2rem;
	padding:1.5rem;
}
.sub2{
	font-size:1.5rem;
	color:green;
}
@media screen and (max-width: 750px){
	.container{	
		padding:0;
	}
	.sub2{
		font-size:1.3rem;
	}
	
	.heading3{
		padding:0 0 0 1.8rem;
		
	}
}
@media screen and (max-width: 600px){
	.space{
		padding:1rem;
	}
	.col-*{
		width:100%;
	}
	.heading3{
		
		font-size:2rem;
		padding:0 0 0 2rem;
	}
	.container{
		padding:0;
	}
	.sub2{
		
		font-size:1.1rem;
	}
	
}
